@import "reset.css";

body {
  color: var(--text-body);
  background: var(--bg-sidebar);
}

h1 {
  font-family: 'Dyslexic';
  font-weight: 100;
  color: var(--text-primary);
}

a {
  color: var(--text-link);
}

.content {
  font-family: Verdana;
  font-size: .8em;
}

.nav-links {
  font-family: 'Dyslexic';
  font-size: 1.5em;
}

.nav-links a {
  color: var(--text-secondary);
}