@import "bechno.css";

h2, .h2 {
  background: var(--bg-footer);
  padding: .5rem;
  margin-bottom: .5rem;
}

section > *:not(h2):not(.sidebar):not(figure):not(blockquote) {
  margin-left: .5rem !important;
}

section + section {
  margin-bottom: 1rem;
}

section ul,
section ol {
  margin: .75rem 0 1em;
  padding-left: 1.25rem;
}

section li > p {
  margin: 0
}

main ul li,
main ol li {
  margin: .25rem .75rem;
  padding-left: .5rem;
}

main ol li::marker {
  font-weight: bold;
  color: var(--text-primary);
}

main ul li::marker {
  content: "✦";
  color: var(--text-secondary);
}

main ul li ul li::marker {
  content: "✧";
  color: var(--text-secondary);
  font-size: 1.25em;
}

.fanlistings {
  max-height: 250px;
  overflow: auto;
}

.resources td {
  padding: 1em;
}

.curses.sidebar {
  height: 120px;
}