@import "../reset.css";

body {
  background: #FCD8D4 url("/assets/images/shrines/rainbow/pineapple-cut.png");
  font-family: 'Varela Round', sans-serif;
}

figure {
  width: 200px;
}

figcaption {
  font-size: .8em;
}

hr {
  margin: 1.25rem 0;
}

h1 {
  font-size: 1.75em;
  color: #a72756;
  margin-bottom: .5rem;
}

.content {
  max-width: 800px;
  background-color: #fff;
}

.avalypuff {
  background-color: #F8E2CF;
  color: #2c1615;
}

.avalypuff h2 {
  background-color: #eeb696;
  border-radius: .375rem;
  padding: .25rem .5rem;
}

.avalypuff .h3 {
  color: #695352;
}

.avalypuff figure {
  background-color: #fff;
}