@import "bechno.css";

.gallery img {
  border: 2px solid var(--bg-primary)
}

.gallery img:hover {
  border: 2px solid #fff;
}

.img-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
}

.art-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.img-container img {
  align-self: center;
}

.art-desc > ul {
  margin-left: 1rem;
}

.art-desc > ul > li {
  margin: .5rem 0;
}