@import "bechno.css";

h2,
.h2 {
  background: var(--bg-heading);
  padding: .5rem;
}

article > section,
article > .position-relative > section {
  padding-left: .5rem;
}

section > h2 {
  margin-left: -.5rem;
}

section+section {
  margin-bottom: 1rem;
}

section > ul,
section > ol {
  margin: .75rem 0 1em;
  padding-left: 1rem;
}

section > ul ul {
  margin: .25rem 0 .5rem;
}

section li > p {
  margin: 0
}

a[href*="footnote"],
span[id*="footnote"] {
  font-size: .8em;
  vertical-align: super;
}

.about-figure {
  padding: 0 !important;
  height: 204px;
}

#web-feed .img-svg {
  width: 1.25em;
}

noscript .sidebar.curses {
  height: 120px;
}

.link-btn {
  height: 31px !important;
  width: 88px !important;
}

.greenhouse iframe,
iframe.webgarden-pot {
  width: 250px;
  height: 250px;
  border: 0;
  margin: 1em;
}

img.preview-img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: top center;
}

div.quiz-results > * {
  margin: .25rem;
}

.quiz-widget {
  line-height: 1.2em;
}

.quiz-widget.columns {
  max-width: 375px;
}

.quiz-widget.rows {
  max-width: 350px;
}

.quiz-color {
  background-color: #fff;
  border: 2px solid #6495ED;
}

.quiz-color * {
  color: #000;
  border-bottom-color: #000 !important;
}

.quiz-color a:after {
  filter: unset !important;
}

.quiz-color-header,
.quiz-color-footer {
  background-color: #6495ED;
}

.quiz-color-header * {
  margin: 0;
}

.bishies-collection > * {
  margin: .25rem .5rem;
}

#bishie-quiz {
  height: 475px;
  width: 100%;
  border: 1px solid var(--border-sidebar);
}

#bishie-quiz-nav {
  max-height: 250px;
}

#bishie-quiz-nav > ul {
  margin-right: .5rem;
}

#bishie-quiz-nav > ul:nth-child(odd) {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sitemap li > p {
  margin: 0;
}

.curse-list {
  max-height: 300px;
  overflow-y: auto;
}

.curses .tail {
  position: absolute;
  bottom: -.75rem;
  right: -.25rem;
  font-size: 3rem;
  color: var(--bg-footer);
  transform: rotate(60deg);
}

.curses .tail-right {
  font-size: 3rem;
  color: var(--bg-footer);
  position: absolute;
  right: -2rem;
  bottom: 9rem;
}

.go-to-heck.new-curse:hover {
  filter: drop-shadow(0 0 .5rem var(--text-link));
  cursor: pointer;
}

.go-to-heck.new-curse:active {
  filter: none;
  transform: translateY(.25rem);
}

@media screen and (max-width: 767px) {
  #bishie-quiz-nav {
    max-height: unset;
  }

  #bishie-quiz {
    height: 625px;
  }

  .curse-list {
    max-height: unset;
  }

  .curses .tail,
  .curses .tail-right {
    top: -1.5rem;
    bottom: unset;
    left: 50%;
    right: unset;
    transform: rotate(-90deg);
  }
}