@import "reset.css";
@import "navigation.css";
@import "header.css";

*:focus-visible {
  border: 0 !important;
  border: 2px solid var(--text-primary) !important;
}

html,
body {
  height: 100vh;
  scrollbar-color: var(--scroll-tab) var(--scroll-bg);
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-bg)
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-tab);
}

:target {
  scroll-margin: 150px;
}

body {
  line-height: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
  background-color: var(--bg-primary);
  background-image: var(--bg-img);
  color: var(--text-body);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Dyslexic', Georgia, serif;
  font-weight: 400;
  margin: 1rem 0;
}

h1, .h1,
h3, .h3,
h5, .h5 {
  color: var(--text-secondary);
}

h2, .h2,
h4, .h4,
h6, .h6 {
  color: var(--text-primary);
}

a {
  color: var(--text-link);
}

a svg {
  fill: var(--text-link);
}

a:hover svg {
  border-bottom: 1px solid var(--text-link);
}

a:focus {
  color: var(--text-primary);
}

a:focus svg {
  color: var(--text-primary);
}

a:hover img,
a:hover .figure-div,
a:hover .ff-container.ff-active .ff-image,
a:hover .ff-container.ff-inactive .ff-canvas.ff-canvas-ready {
  opacity: .5 !important;
}

a:hover .ff-container.ff-inactive .ff-image {
  opacity: 0 !important;
}

b, strong {
  color: var(--text-primary);
}

em {
  color: var(--text-secondary);
}

article > ul { /* For page-landing.html */
  margin-left: 1rem;
}

dt {
  color: var(--text-primary);
  font-weight: bold;
  margin-bottom: .5em;
}

dt::before {
  content: "✦";
  margin-right: 10px;
  color: var(--text-secondary);
}

dd {
  margin: 0 0 2em 3em;
}

dd > p {
  margin: 0;
}

dd ol li::marker {
  color: var(--text-primary);
}

hr {
  margin: 1em 0;
  border: none;
  border-top: 2px solid var(--border-sidebar);
  color: var(--bg-primary);
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background-color: var(--bg-body);
  content: '❤ ❤ ❤';
  padding: 0 1em;
  position: relative;
  top: -.9em;
}

hr.small {
  margin: 1em 0;
  border: none;
  border-top: 1px solid var(--border-sidebar)
}

hr.small::after {
  content: none;
}

figure {
  border: 2px solid var(--border-sidebar);
  text-align: center;
  background-color: var(--bg-sidebar);
}

footer {
  font-size: .8em;
  border: 5px solid var(--bg-body);
}

footer .rss-link svg {
  transform: translate(-2px, 3px);
}

footer .rss-link:hover svg {
  opacity: .75;
}

h1,
.h1 {
  line-height: 1.25em;
  font-size: 1.9em;
}

h2,
.h2 {
  font-size: 1.65em;
}

h3,
.h3 {
  font-size: 1.4em;
}

h4,
.h4 {
  font-size: 1.15em;
}

blockquote {
  margin: 1rem 0 0 1.5rem;
  padding-left: 1rem;
  border-left: 4px solid var(--bg-primary);
  color: var(--text-secondary);
}

button,
.button {
  background-color: var(--bg-footer);
  color: var(--text-link);
  border: 1px solid var(--text-link);
  border-radius: 5px;
  padding: .5rem;
  font-weight: bold;
}

button:hover,
.button:hover {
  cursor: pointer;
  background-color: var(--bg-body);
  color: var(--text-primary);
}

code:not([class*="language-"]) {
  font-family: 'Courier New', monospace;
  color: var(--text-primary);
  background-color: var(--bg-code);
  padding: .2rem .3rem;
  white-space: normal;
}

summary:hover {
  cursor: pointer;
}

table, th, td {
  border: 1px solid var(--border-sidebar);
  border-collapse: collapse;
}

tr {
  background-color: var(--bg-sidebar);
}

th {
  background-color: var(--bg-footer);
}

th, td {
  padding: .25rem .5rem;
}

input::placeholder,
textarea::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-body);
  opacity: .5;
  font-size: .9em;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-body {
  background-color: var(--bg-body) !important;
}

.bg-sidebar {
  background-color: var(--bg-sidebar) !important;
}

.bg-footer {
  background-color: var(--bg-footer) !important;
}

.border-body {
  border: 1px solid var(--border-body) !important;
}

.border-sidebar {
  border: 1px solid var(--border-sidebar) !important;
}

.border-primary {
  border: 1px solid var(--text-primary);
}

.border-2 {
  border-width: 2px !important;
}

.text-img-bg {
  color: var(--bg-img-color) !important;
}

.text-background {
  color: var(--bg-body) !important;
}

.text-body {
  color: var(--text-body) !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.text-link {
  color: var(--text-link) !important;
}

.page {
  width: 1000px;
}

.main {
  margin-top: 9.5rem;
  border-left: 5px solid var(--bg-body);
  border-right: 5px solid var(--bg-body);
}

.main.desktop {
  min-height: 504px;
}

.sidebar h1,
.sidebar .h1,
.sidebar h2,
.sidebar .h2 {
  background-color: var(--bg-footer);
  margin: 0 !important;
}

.sidebar {
  background-color: var(--bg-sidebar) !important;
  border: 1px solid var(--border-sidebar) !important;
}

summary.details.h2 {
  margin-bottom: 0;
}

.sidebar h2,
summary.details.h2 {
  padding: .75rem;
}

summary.details.h3 {
  margin-left: .5rem;
}

summary.details:focus-visible {
  padding: .5rem;
}

summary.details.h2:hover {
  text-decoration: underline var(--text-primary) 2px;
}

summary.details.h3:hover {
  text-decoration: underline var(--text-secondary) 2px;
}

summary.details:focus-visible {
  padding: .4rem;
}

a.hidden-link {
  color: unset !important;
  text-decoration: none !important;
  font-weight: normal !important;
  cursor: default !important;
}

.figure-div {
  width: 100%;
  height: 200px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#theme-switcher-container {
  right: 0;
}

#splash-container #theme-switcher-container {
  top: -2.5rem;
}

#theme-switcher {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  visibility: hidden;
}

#switcher-label {
  cursor: pointer;
  font-size: 1.5rem;
  filter: drop-shadow(0px 1px var(--text-primary)) drop-shadow(0 -1px var(--text-primary)) drop-shadow(1px 0 var(--text-primary)) drop-shadow(-1px 0 var(--text-primary));
}

#switcher-label:hover {
  opacity: .5;
}

#splash-container #switcher-label {
  font-size: 2rem;
}

#theme-switcher:focus ~ #switcher-label {
  text-shadow: 0 0 5px var(--text-shadow);
}

.tooltip {
  position: relative;
}

.tooltip-content {
  width: max-content;
  max-width: 200px;
  line-height: 1.25em;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  top: 0px;
  transform: translate(10%, calc(-100% - .25rem));
  font-size: .8em;
  padding: .5rem;
  text-align: center;
  background-color: var(--bg-sidebar);
  border: 1px solid var(--border-sidebar);
}

.tooltip:hover .tooltip-content,
.tooltip:focus-visible .tooltip-content {
  opacity: 1;
  visibility: visible;
}

.ft-alert-triangle {
  color: var(--text-link);
}

.freezeframe-btns {
  position: sticky;
  top: 145px;
  background-color: var(--bg-body);
  z-index: 99;
}

.emoticon {
  width: 3.5em;
}

.inline-img {
  vertical-align: middle;
}

.back-to-top {
  position: absolute;
  top: 100vh;
  right: .5rem;
  bottom: 0;
  width: 3em;
  pointer-events: none;
}

.back-to-top a {
  position: fixed;
  position: sticky;
  padding: .5rem;
  pointer-events: all;
  top: calc(100vh - 4rem);
  border: 1px solid var(--text-link);
  border-radius: .5rem;
  font-size: 2em;
  text-decoration: none;
  background-color: var(--bg-sidebar);
}

.link-border {
  border-right: 1px solid var(--text-body);
}

.table-list {
  max-height: 150px;
  overflow-y: auto;
  background: var(--bg-body);
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 999px) {
  :target {
    scroll-margin: 80px;
  }

  body {
    font-size: 1em;
    line-height: 1.7em;
  }

  .freezeframe-btns {
    top: 3.7rem;
  }

  .freezeframe-btns button {
    font-size: 1rem;
  }

  .page {
    max-width: calc(100% - 10px);
  }

  .main {
    margin-top: 0;
  }

  .main.desktop {
    min-height: auto;
  }

  dd {
    margin: 0 0 1em 2em;
  }

  #web-feed .container-wrapper {
    height: revert;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: revert;
  }
}