@import "basic.css";

.pagination {
  font-family: 'Dyslexic';
  font-size: 1.25em;
  color: var(--text-secondary);
  margin-bottom: 1rem;
}

.blog ol {
  margin-left: 1rem;
}

.blog p + ol {
  margin-top: 1rem;
}

.blog ol > li > ul li {
  margin-bottom: .5rem;
}

figure {
  max-width: 200px;
  padding: .5rem;
}

figure.figure-landscape {
  max-width: 400px;
}

figure.figure-lg {
  max-width: fit-content;
}

figcaption {
  padding: 0 .25rem;
  font-size: .85em;
}

.back-button {
  font-family: 'Dyslexic';
  font-size: 1.5em;
  color: var(--text-link);
}

.back-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
  margin: 1rem 0;
}

.blog-gallery > figure {
  width: 200px;
}

.blog-gallery > .landscape {
  width: 300px;
}

.blog-gallery > .bg-center .figure-div {
  background-position: center !important;
}

.blog.row:hover {
  background-color: var(--bg-footer);
}

figure.dr-strange {
  width: unset;
  max-width: 350px !important;
}

.candy figure {
  width: 150px;
}

.candy img {
  height: 100px;
}

.rilla-box {
  width: 240px;
  height: 320px;
  border: 1px solid #fccdda;
  background-color: #ffffff;
}

.rilla-box .carousel-column {
  height: 150px;
}

.valentines:hover {
  cursor: pointer;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid var(--bg-footer);
}

.triangle-up p {
  width: 70px !important;
  margin-left: -2.15rem;
  margin-top: 2rem;
  font-size: .8em;
  line-height: 1.25em;
}

map:hover {
  cursor: pointer;
}

img.hank {
  width: 400px;
}

textarea.key-map {
  float: left;
  width: 300px;
  height: 230px;
  font-size: small;
  margin-right: 20px
}

#status-cafe hr {
  margin: 0 !important;
}

noscript .sidebar {
  height: 350px;
}

noscript iframe {
  width: 100%;
  height: 100%;
}