@import 'reset.css';

:root {
  --base: #24273a;
  --mantle: #1e2030;
  --surface: #363a4f;
  --overlay: #6e738d;
  --text: #cad3f5;
  --subtext: #b8c0e0;
  --mauve: #c6a0f6;
  --blue: #8aadf4;
  --pink: #f5bde6;
  --teal: #8bd5ca;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25rem;
}

h1,
h2,
h3 {
  font-family: "Mochiy Pop One", sans-serif;
  letter-spacing: .1rem;
  font-weight: normal;
  color: var(--pink);
  margin-bottom: 1rem;
}

a {
  color: var(--mauve);
  font-weight: bold;
}

hr {
  margin: 1em 0;
  border: none;
  border-top: 1px dashed var(--teal);
}

ul {
  list-style-type: disc;
  margin: 1rem 0 1rem 1.5rem;
}

ul li:not(:last-child) {
  margin-bottom: .5rem;
}

ul li > ul {
  margin-top: .5rem;
}

.bg-body {
  background-color: var(--mantle);
}

.subtitle {
  color: var(--subtext);
  font-size: .9em;
}

#web-feed .container {
  max-width: 800px;
}

.about-feed {
  background-color: var(--surface);
}

.about-feed code{
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: var(--base);
}

@media screen and (max-width: 992px) {
  body {
    font-size: 1em;
    line-height: 1.7em;
  }

  #web-feed .container-wrapper {
    height: revert;
  }
}