@import 'reset.css';

:root {
  --base: #24273a;
  --mantle: #1e2030;
  --surface: #363a4f;
  --overlay: #6e738d;
  --text: #cad3f5;
  --subtext: #b8c0e0;
  --mauve: #c6a0f6;
  --blue: #8aadf4;
  --pink: #f5bde6;
  --teal: #8bd5ca;
  --mauve-filter: brightness(0) saturate(100%) invert(66%) sepia(11%) saturate(1531%) hue-rotate(222deg) brightness(103%) contrast(93%);
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25rem;
}

h1,
h2,
h3 {
  font-family: "Mochiy Pop One", sans-serif;
  letter-spacing: .1rem;
  font-weight: normal;
  color: var(--pink);
  line-height: 1.75rem;
}

a {
  color: var(--mauve);
  font-weight: bold;
}

a[href*="http"] {
  text-decoration: none;
  border-bottom: 1px solid var(--mauve);
}

a[href*="http"]:hover {
  border-bottom-color: transparent;
}

a[href*="http"]::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: .25rem;
  margin-bottom: -.1rem;
  background-image: var(--img-link);
  background-size: cover;
  filter: var(--mauve-filter);
}

code {
  font-size: 1rem;
  padding: .25rem .5rem;
  background-color: var(--base);
  border-radius: .25rem;
}

hr {
  margin: 1em 0;
  border: none;
  border-top: 1px dashed var(--teal);
}

p + p {
  margin: 0;
}

section:has(h3) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-left: 1.5rem;
}

ul > li > ul {
  margin-left: 2rem;
  margin-top: .75rem;
}

.bg-body {
  background-color: var(--mantle);
}

.subtitle {
  color: var(--subtext);
  font-size: .9em;
}

#web-feed .container {
  max-width: 800px;
}

.about-feed {
  background-color: var(--surface);
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1em;
    line-height: 1.7em;
  }

  #web-feed .container-wrapper {
    height: revert;
  }
}