@import "basic.css";

.adopts.mine p {
  margin: 0;
}

.adopts.other > * {
  max-width: 150px;
}

.awards > * {
  margin: .25rem;
  max-width: 300px;
}

.graphics.content {
  max-height: 400px;
  overflow-y: auto;
}

.graphics.content > * {
  margin: .25rem
}

.cliques.content > * {
  margin: 0 .25rem;
}

.yys-table {
  font-size: .85em;
}