@import "basic.css";

#main-content:has(.collected details:not(.web-badges):open) .back-to-top {
  display: block;
}

.adopts.mine p {
  margin: 0;
}

.adopts.other > * {
  max-width: 150px;
}

.awards {
  gap: .5rem;
}

.kindnessrocks .d-flex a,
.jarjam .d-flex a {
  display: flex;
  align-items: baseline;
}

.kindnessrocks .d-flex {
  align-items: baseline;
}

.sticker-box {
  width: 300px;
  border: 1px solid #fdc2ce;
  background-color: #fdc2ce;
  color: #e55a76;
}

.sticker-header {
  height: 76px;
  background-image: url(/assets/images/goodies/cliques/stickers/header.png);
  background-position: top;
  background-repeat: repeat-x;
  font-weight: bold;
}

.sticker-body {
  border: 1px solid #fdc2ce;
  border-right: 0;
  border-left: 0;
}

.sticker-footer {
  background-color: #fff;
  text-align: center;
}

.cdw figcaption {
  margin: 1rem 0;
}

.cdw .playlist.button {
  border-radius: .8rem;
  font-size: .7rem;
}

.yys table {
  font-size: .85em;
  max-width: 400px;
}

.teacup {
  width: 120px;
}

.tea-img {
  min-height: 75px;
  margin-bottom: .25rem;
  display: flex;
  align-items: end;
}

.tea-img > * {
  margin: 0 auto;
}

.tea-taste {
  line-height: 1rem;
}

.tea-taste summary:hover {
  text-decoration: underline;
}

.web-badges .content > * {
  height: 15px;
}

.btn-88x31 .content > * {
  height: 31px;
}

.blinkies .content > * {
  height: 20px;
}

.stamps .content > * {
  min-height: 56px;
  display: flex;
  align-items: center
}

.comb-row {
  margin-left: 1rem;
}

.comb-row:nth-child(even) {
  margin-top: -30px;
}

.comb-row > *:nth-child(odd) {
  margin: 30px -10px 0;
}

@media screen and (max-width: 992px) {
  .jarjam img,
  .jarjam .ff-canvas,
  .kindnessrocks img,
  .kindnessrocks .ff-canvas {
    transform: scale(2);
    image-rendering: pixelated;
  }

  .kindnessrocks .d-flex,
  .jarjam .d-flex {
    padding: 2rem 0 !important;
  }

  .cdw .playlist.button {
    font-size: 1rem;
  }
}