.page header {
  position: fixed;
  width: 1000px;
  z-index: 100;
  height: 150px;
  background-color: var(--bg-footer) !important;
  background-image: var(--img-header);
  background-position: center;
  background-size: cover;
  border: 5px solid var(--bg-body);
}

.page > a:focus-visible {
  border: 0;
}

.page > a:hover header,
.page > a:focus-visible header {
  border-color: var(--text-primary);
}

@media screen and (max-width: 991px) {
  .page header {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .page header {
    position: static;
    width: revert;
    height: 170px;
  }
}