@import 'basic.css';

/* Reset table styles*/
table,
#trb.waiting {
  font-size: .8em;
}

table,
table * {
  border: 0;
}

tr {
  background-color: initial !important;
}

.webrings {
  max-height: 600px
}

.webrings .small-webrings > * {
  margin: 0 .5rem;
}

.webrings .js-required .col-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .5rem;
}

.webrings .js-required .col-12 > *:not(:last-child) {
  margin-bottom: .5rem;
}

.webrings .webring {
  display: flex;
  align-items: center;
}

.img-next {
  transform: scaleX(-1);
}

wii-ring {
  max-width: 150px;
}

div.waiting {
  border: 1px solid var(--border-sidebar);
  padding: .5rem;
}

div.waiting * {
  padding: 0;
}

div.waiting > p,
div.waiting > div {
  font-size: .8em;
  margin: 0;
}

/* Jelly World */
.jelly-world {
  text-align: center;
  font-family: Arial;
  width: 225px;
  border: 3px dotted orange;
  background: url('/assets/images/webrings/jw_bg.png');
}

.jelly-world * {
  color: initial;
  margin: 0;
}

.jelly-world a {
  color: #da6200;
  font-weight: bold;
}

.jelly-world-img {
  background: #fff;
}

.jelly-world img {
  object-fit: contain;
}

/* Kingdom Hearts Webring */
#khwr table {
  background-image: url('/assets/images/webrings/kh_auronbg.png');
  margin: 0 auto;
  /* centers the widget */
  border: 2px ridge #fc8476;
}

#khwr table tr td {
  padding: 15px;
  /* creates some space between the links and text inside the widget */
}

#khwr div {
  text-align: center;
}

#khwr a {
  color: black;
  text-shadow: 1px 1px 0 white;
}

/* Re:source Ring */
#resourceRing img {
  margin-bottom: -5px;
}

/* Self-Insert Webring */
.self-insert-webring {
  width: 225px;
  background-image: url("https://koinuko.neocities.org/shipping/webring/bg.png");
  background-size: cover;
  border: 2px solid #DD28A7;
  font-size: .85em;
  line-height: 1.25em
}

.self-insert-webring p {
  margin: 0;
}

.self-insert-webring a {
  color: #BF3C8E;
  font-weight: bold;
}

.self-insert-webring strong,
.self-insert-webring {
  color: #452134;
}

.self-insert-img img {
  border: 2px solid #DD28A7;
}

.self-insert-text {
  border: 1px dashed #DD28A7;
}

.self-insert-nav {
  border: 1px dashed #DD28A7;
}

/* AMIGA webring */

#webring-btn-container > * {
  margin: .25rem;
}

#webring-btn-container img[src*="amiga"] {
  width: 88px;
}

#amiga table,
#amiga table * {
  border: 0 !important;
}

#amiga .webring-info {
  text-align: center;
}

#amiga br {
  display: none;
}

/* doodlering */
#doodlering.waiting {
  height: unset;
  font-family: unset !important;
}

/* personaring */
#p-ring {
  margin-top: .5rem;
}

#p-ring .ring-container {
  position: relative;
  text-align: center;
}

#p-ring .sona {
  position: absolute;
  left: -5.5rem;
  top: .5rem;
  max-width: 110px;
  z-index: 99 !important;
}

#p-ring .persona-ring {
  font-family: "Shantell Sans", cursive;
  width: 170px;
  margin-right: -4rem;
}

#p-ring .name-tag {
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: .25rem;
}

#p-ring .name-tag .head,
#p-ring .name-tag .webring-info {
  background: #e84e8f;
  color: #fff;
}

#p-ring .name-tag .head {
  font-size: 1.25em;
  font-weight: bold;
  padding: .5rem 0 .25rem;
}

#p-ring .namediv {
  padding: .75rem;
  font-size: 1.75em;
  font-weight: bold;
  color: #000;
  background: #fff;
}

#p-ring .webring-info {
  font-size: .8em;
  padding: .1rem .5rem .25rem;
}

#p-ring .webring-info a {
  color: #000;
}

#p-ring .direct {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-ring .direct > * {
  max-width: 30px;
  margin: 0 .25rem;
}

/* Cookie Run Webring */
#ckwr {
  margin: 0 !important;
  background-image: url(/assets/images/webrings/crwr_bg.png) !important;
  background-size: cover !important;
  background-position: center !important;
  border-color: #641c1c !important;
}

#ckwr .webring-flex {
  position: static !important;
}

/* Tropical Rice Bowl */
#TRB img {
  max-height: 31px !important;
  width: auto !important;
}

/* WOL Webring */
#wolwebring p {
  margin: 0;
}

#wolwebring img {
  margin: 0 .25rem;
}

/* Egg webring */
#eggring.waiting a {
  font-weight: bold;
}

#eggring {
  background-color: white;
  border-radius: 5px;
  border: 4px double #b08cdc;
  color: #b08cdc;
}

#eggring a {
  color: #7a58a4;
  text-decoration: none;
}

#eggring a:hover {
  text-decoration: underline;
}

#eggring .eggringName {
  font-weight: bold;
}

/* GitGud ring */
#gitgudring {
  max-width: 150px;
}

.gitgudlock{
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

#gitgudring br + a > img {
  width: 75px;
}

/* GFDKWTFAW Ring */
.gfdkris-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: .5rem;
}

.gfdkris-nav-btn {
  background: black;
  border: 1px solid black;
  text-align: center;
}

.gfdkris-nav-btn:hover {
  border-color: #fb7f26;
}

.gfdkris-nav-btn:hover img {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .self-insert-webring {
    width: 300px;
  }

  #p-ring .persona-ring {
    width: 225px;
  }

  #resourceRing img {
    margin-bottom: -7px;
  }

}