@import 'basic.css';

/* Reset table styles*/
table {
  font-size: .8em;
}

tr {
  background-color: initial !important;
}

.webrings {
  max-height: 600px
}

/* Jelly World */

#jelly-world {
  text-align: center;
  font-family: Arial;
  width: 150px;
  border: 3px dotted orange;
  background: url('/assets/images/webrings/jw_bg.png');
}

#jelly-world * {
  color: initial;
}

#jelly-world a {
  color: #da6200;
  font-weight: bold;
}

#jelly-world .row>* {
  padding: 0;
}

#jelly-world .img {
  background: #fff;
  height: 80px;
  width: 80px;
}

#jelly-world img {
  object-fit: contain;
}

/* Kingdom Hearts Webring */

#khwr table {
  background-image: url('/assets/images/webrings/kh_auronbg.png');
  margin: 0 auto;
  /* centers the widget */
  border: 2px ridge #fc8476;
}

#khwr table tr td {
  padding: 15px;
  /* creates some space between the links and text inside the widget */
}

#khwr a {
  color: black;
  text-shadow: 1px 1px 0 white;
}

/* Re:source Ring */
#resourceRing img {
  margin-bottom: -5px;
}

/* Self-Insert Webring */
:root {
  --webring-border: #dd28a7;
  --webring-link: #bf3c8e;
  --webring-link-hover: #a43379;
  --webring-text: #452134;
}

#self-insert-webring,
#self-insert-webring * {
  margin: 0;
  padding: 0;
  line-height: 1.25em;
  box-sizing: border-box;
}

.webring-border {
  border: solid 2px var(--webring-border);
}

.webring-dashed-border {
  border: dashed 1px var(--webring-border);
}

.webring-textbox {
  padding: .25rem !important;
}

#self-insert-webring {
  width: 160px;
  padding: .5rem;
  background-image: url("https://koinuko.neocities.org/shipping/webring/bg.png");
  background-size: cover;
  text-align: center;
  color: var(--webring-text);
  font-family: Verdana;
  font-size: 0.8em;
}

#self-insert-webring a {
  color: var(--webring-link);
  font-weight: bold;
}

#self-insert-webring a:hover {
  color: var(--webring-link-hover);
}

#self-insert-webring #webring-icon {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#self-insert-webring #webring-icon img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#self-insert-webring #webring-text {
  margin: .5rem 0;
}

#self-insert-webring strong {
  color: unset;
}

#amiga table,
#amiga table * {
  border: 0 !important;
}

#amiga .webring-info {
  text-align: center;
}

#amiga br {
  display: none;
}

/* doodlering */
#doodlering.waiting {
  height: unset;
  font-family: unset !important;
}