@import 'basic.css';

/* General styles*/
table,
#trb.waiting {
  font-size: .8em;
}

table,
table * {
  border: 0;
}

tr {
  background-color: initial !important;
}

.webrings .small-webrings > * {
  margin: 0 .5rem;
}

.webrings .row.js-required > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .5rem;
  gap: 1rem;
}

.webrings .webring {
  display: flex;
  align-items: center;
}

.img-next {
  transform: scaleX(-1);
}


div.waiting {
  border: 1px solid var(--border-sidebar);
  padding: .5rem;
}

div.waiting * {
  padding: 0;
}

div.waiting > p,
div.waiting > div {
  font-size: .8em;
  margin: 0;
}

.fake-webrings > p {
  margin: 0;
}

.fake-webrings > p + p {
  margin: 1rem 0;
}

/* AMIGA webring */
#webring-btn-container > * {
  margin: .25rem;
}

#webring-btn-container img[src*="amiga"] {
  width: 88px;
}

#amiga table,
#amiga table * {
  border: 0 !important;
}

#amiga .webring-info {
  text-align: center;
}

#amiga br {
  display: none;
}

/* Cookie Run Webring */
#ckwr {
  margin: 0 !important;
  /* #### Silent Salt Cookie colors */
  /* background: url(/assets/images/webrings/crwr_bg.png) #748091 !important;
  background-size: cover !important;
  background-position: center !important;
  border-color: #0d0f11 !important; */
}

#ckwr .webring-title:hover,
#ckwr .webring-title:hover img {
  opacity: 1;
  filter: unset;
}

#ckwr .webring-flex {
  position: static !important;
  align-items: center;
}

#ckwr .ckwr-tooltip {
  height: 64px;
  width: 64px;
  margin-top: 2rem;
}

#ckwr:has(.ckwr-tooltip:hover) .ckwr-tooltip-content{
  display: block;
  z-index: 1;
}

#ckwr .ckwr-tooltip-content {
  display: none;
  z-index: -100;
  position: absolute;
  top: 0;
  left: -1rem;
  width: 50vw;
  border: 1px solid var(--ckborder);
  border-radius: .25rem;
  background: #fff;
  color: var(--ckborder);
  line-height: 1rem;
  font-size: .7rem;
  padding: .25rem .5rem;
}

#ckwr .ckwr-tooltip-content > * {
  margin: 0;
}

/* doodlering */
#doodlering {
  margin: 0 !important;
}

/* Jelly World */
.jelly-world {
  text-align: center;
  font-family: Arial;
  width: 180px;
  border: 3px dotted orange;
  background: url('/assets/images/webrings/jw_bg.png');
  background-color: #fcee95;
  line-height: 1rem;
}

.jelly-world * {
  color: initial;
}

.jelly-world a {
  color: #da6200;
  font-weight: bold;
}

.jelly-world img {
  background: #fff;
  object-fit: contain;
  width: 80px;
}

.jelly-world-desc {
  font-style: italic;
}

.jelly-world .button {
  border: 1px solid #8F8F9D;
  padding: .25rem;
  background-color: #E9E9ED;
  color: #000;
  font-weight: normal;
}

.jelly-world .button:hover {
  border-color: #676774;
  background-color: #D0D0D7;
}

/* Kingdom Hearts Webring */
#khwr table {
  background-image: url('/assets/images/webrings/kh_auronbg.png');
  border: 2px ridge #fc8476;
  background-color: #ffeded;
  margin: 0 auto;
  /* centers the widget */
}

#khwr table tr td {
  padding: 15px;
  /* creates some space between the links and text inside the widget */
}

#khwr div {
  text-align: center;
}

#khwr a {
  color: black;
  text-shadow: 1px 1px 0 white;
}

/* personaring */
#p-ring {
  margin-top: .5rem;
}

#p-ring .ring-container {
  position: relative;
  text-align: center;
}

#p-ring .sona {
  position: absolute;
  left: -5.5rem;
  top: .5rem;
  max-width: 110px;
  z-index: 10 !important;
}

#p-ring .persona-ring {
  font-family: "Shantell Sans", cursive;
  width: 170px;
  margin-right: -4rem;
}

#p-ring .name-tag {
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: .25rem;
}

#p-ring .name-tag .head,
#p-ring .name-tag .webring-info {
  background: #e84e8f;
  color: #fff;
}

#p-ring .name-tag .head {
  font-size: 1.25em;
  font-weight: bold;
  padding: .5rem 0 .25rem;
}

#p-ring .namediv {
  padding: .75rem;
  font-size: 1.75em;
  font-weight: bold;
  color: #000;
  background: #fff;
}

#p-ring .webring-info {
  font-size: .8em;
  padding: .1rem .5rem .25rem;
}

#p-ring .webring-info a {
  color: #000;
}

#p-ring .direct {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-ring .direct > * {
  max-width: 30px;
  margin: 0 .25rem;
}

/* Re:source Ring */
.resource-ring > * {
  height: 31px;
}

.resource-ring-nav > a {
  display: inline-block;
}

/* Self-Insert Webring */
.self-insert-webring {
  width: 225px;
  background-color: #ffe3f1;
  background-image: url("https://koinuko.neocities.org/shipping/webring/bg.png");
  background-size: cover;
  border: 2px solid #DD28A7;
  font-size: .85em;
  line-height: 1.25em
}

.self-insert-webring p {
  margin: 0;
}

.self-insert-webring a {
  color: #BF3C8E;
  font-weight: bold;
}

.self-insert-webring strong,
.self-insert-webring {
  color: #452134;
}

.self-insert-img img {
  border: 2px solid #DD28A7;
}

.self-insert-text {
  border: 1px dashed #DD28A7;
}

.self-insert-nav {
  border: 1px dashed #DD28A7;
}

/* Tropical Rice Bowl */
#TRB img {
  max-height: 31px !important;
  width: auto !important;
}

#TRB #centerTRB img {
  background-color: #fff;
}

/* WOL Webring */
#wolwebring p {
  margin: 0;
}

#wolwebring img {
  margin: 0 .25rem;
}

/* GFDKWTFAW Ring */
.gfdkris-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: .5rem;
}

.gfdkris-nav-btn {
  background: black;
  border: 1px solid black;
  text-align: center;
}

.gfdkris-nav-btn:hover {
  border-color: #fb7f26;
}

[data-theme="dark"] .gfdkris-nav-btn {
  border-color: #fb7f26;
}

[data-theme="dark"] .gfdkris-nav-btn:hover {
  border-color: yellow;
}

.gfdkris-nav-btn:hover img {
  opacity: 1;
}

/* Pokering */
.pokering-walker {
  z-index: 1;
}

#pokering-info {
  height: 1px;
  width: 1px;
  overflow: hidden;
  visibility: hidden;
}

#pokering-info-label {
  top: 72px;
  left: 88px;
  z-index: 2;
  cursor: pointer;
}

.pokering-info-box {
  height: 46px;
  width: 117px;
  background: transparent url(https://dokodemo.neocities.org/pokering/box_overlay.png) no-repeat right top;
  top: 91px;
  left: 49px;
  z-index: 2;
  display: none;
  color: #000;
  font-family: "MS UI Gothic", Tahoma;
  align-items: center;
  font-size: .7rem;
  line-height: .7rem;
}

.pokering:has(#pokering-info:checked) .pokering-info-box {
  display: flex;
}

.pokering-bg {
  top: 57px;
  left: 48px;
}

/* WiiRing */
#wii-ring {
  max-width: 150px;
  padding: .75rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 4px solid #d3bfbf;
  border-radius: 8px;
}

#wii-ring img.wr-img {
  width: calc(100% - 50px);
  padding-bottom: .5rem;
}

#wii-ring .wii-ring-nav {
  display: flex;
  align-items: center;
}

#wii-ring .wr-main img,
#wii-ring .wr-rand img {
  height: 20px;
  vertical-align: bottom;
}

@media screen and (max-width: 962px) {
  #p-ring .persona-ring {
    width: 225px;
  }

  .self-insert-webring {
    width: 300px;
  }

  .jelly-world {
    width: 210px;
    line-height: 1.25rem;
  }
}