#nav-main {
  position: fixed;
  width: 165px;
}

nav ul.section-list li.nav-link-item::marker {
  content: "✦";
  color: var(--text-secondary);
}

nav ul.section-list li ul li.mobile::marker {
  content: "✧";
}

nav li.nav-link-item {
  line-height: 1.25em;
  padding-left: .25rem;
  margin: .25rem 0 .1rem .5rem;
}

nav details summary::marker {
  color: var(--text-link);
}

nav details summary:hover {
  text-decoration: underline;
}

nav details .nav-link-item {
  margin-left: 1rem;
}

nav .h2 {
  font-size: 1.25em;
}

nav .sidebar {
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--text-secondary);
}

nav a:hover {
  text-decoration: underline
}

nav .skip-link {
  position: absolute;
  margin: .25rem;
  padding: .25rem;
  z-index: -99;
}

nav .skip-link:focus-visible {
  position: relative;
  z-index: 99;
}

details.burger {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;
}

details.burger[open] {
  background: var(--bg-overlay);
}

details.burger summary.burger-summary {
  list-style-type: none;
  cursor: pointer;
  background: var(--bg-img-color);
  color: transparent;
}

details.burger summary.burger-summary::before {
  content: "☰";
  font-size: 2.5em;
  color: var(--text-primary);
}

details.burger[open] summary.burger-summary::before {
  content: '×';
  font-size: 3em;
}

details.burger nav {
  height: calc(100vh - 50px);
  width: 300px;
  overflow-y: auto;
}

li.desktop > details > ul {
  margin-top: -.25rem;
}

li.mobile {
  display: none;
}

.section-title > ul {
  margin-left: 1rem;
}

@media screen and (max-width: 992px) {
  #nav-main {
    display: none;
  }

  nav a {
    text-decoration: underline;
  }

  li.desktop {
    display: none;
  }

  li.mobile {
    display: revert;
  }

  details.burger {
    display: block;
    font-size: 1.25em;
  }

  details.burger .h2 {
    padding: .5rem !important;
  }

  details.burger ul li ul li {
    margin: .75rem 0;
  }

  .page {
    margin-top: 3.75rem;
  }
}