@import "reset.css";

::selection {
  background: var(--bg-selection);
  color: var(--text-selection);
}

body {
  background-image: none;
  background-color: var(--bg-body);
  color: var(--text-body);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8rem;
}

h1 {
  font-family: 'Dyslexic', Georgia, serif;
  font-weight: 400;
  margin: 1rem 0;
  color: var(--text-primary);
}

b,
strong {
  color: var(--text-primary);
}

button {
  background-color: var(--bg-footer);
  color: var(--text-link);
  border: 1px solid var(--text-link);
  border-radius: 5px;
  padding: .5rem;
  font-weight: bold;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--bg-body);
  color: var(--text-primary);
}

fieldset {
  border: 0;
  margin-bottom: 1rem;
}

#bishie-content .question {
  margin-bottom: .5rem;
}

.quiz-img-container > img:not(:last-child){
  margin-right: .5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #47284D;
    --bg-footer: #2f1933;
    --bg-selection: #ffffff;
    --scroll-bg: var(--bg-heading);
    --scroll-tab: var(--bg-body);
    --text-body: #fff;
    --text-primary: #FDCDD9;
    --text-link: #ff71c1;
    --text-selection: #28162b;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  #bishie-results {
    text-align: center;
  }
}