@import 'bechno.css';

body {
  background-image: var(--bg-img);
  background-color: var(--bg-body);
  color: var(--text-body);
}

img {
  background-color: var(--bg-sidebar);
}

.container-fluid {
  height: 100%;
}

.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-box {
  top: 0;
  left: 0
}

.text-content {
  margin-top: -8rem;
  margin-left: -4rem;
}

@media screen and (max-width: 999px) {
  .container-fluid {
    padding: 0;
  }

  .text-box {
    font-size: .8em;
  }

  .text-content {
    margin-top: -2rem;
    margin-left: -1rem;
  }
}