@import "basic.css";


.fav-box {
  max-width: 132px;
  padding: .5rem 1rem;
}

.fav-box p {
  margin: 0;
}

.fav-box p:nth-child(3) {
  line-height: .8rem;
}

.monsters img {
  height: 53px;
  object-fit: none;
}

figure {
  padding: 1em;
  width: 225px;
}

figcaption {
  font-size: .8em;
}

.f-a-q ul {
  padding-left: .5rem;
}

.sitemap-section {
  margin: 1rem 1rem 1.25rem !important
}

.older-entries section {
  padding-left: .5rem;
}

@media screen and (max-width: 767px) {
  figure {
    float: unset;
    margin: 0 auto;
  }
}