@import "basic.css";

.favs .sidebar {
  padding: .5rem;
}

.favs p {
  margin: 0;
}

figure {
  float: left;
  padding: 1em;
  margin: 0 2em 1em 0;
  width: 225px;
  border: 2px solid var(--border-sidebar);
  text-align: center;
  background-color: var(--bg-sidebar);
}

figcaption {
  font-size: .8em;
}

.about-info img.meat{
  width: 1.75rem;
}

.faq .question > p {
  color: var(--text-primary);
  font-weight: bold;
}

.faq ul {
  padding-left: .5rem;
}

section.sitemap {
  margin: 1rem 0 1.25rem !important
}

img.layout {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: top center;
}

@media screen and (max-width: 999px) {
  figure {
    float: unset;
    margin: 0 auto;
  }
}