@import "basic.css";

.favs .sidebar {
  padding: .5rem;
}

.favs p {
  margin: 0;
}

figure {
  padding: 1em;
  width: 225px;
}

figcaption {
  font-size: .8em;
}

.faq .question > p {
  color: var(--text-primary);
  font-weight: bold;
}

.faq ul {
  padding-left: .5rem;
}

section.sitemap {
  margin: 1rem 0 1.25rem !important
}

@media screen and (max-width: 999px) {
  figure {
    float: unset;
    margin: 0 auto;
  }
}