@import "bechno.css";

.content {
  max-width: 850px;
  border: 2px solid var(--bg-primary);
}

.last-update {
  font-size: .85em;
}

.container-fluid {
  height: 100%
}

@media screen and (max-width: 992px) {
  .container-fluid {
    height: revert;
  }

  #splash-container #theme-switcher-container {
    top: .5rem;
  }
}