aside strong {
  display: block;
  color: var(--text-secondary);
  text-align: center;
}

aside li {
  padding: .25rem .5rem;
  margin-left: .5rem;
  line-height: 1rem;
}

aside li::marker {
  content: "✦";
  color: var(--text-secondary);
}

aside .h2 {
  font-size: 1.25em;
}

aside hr {
  margin: .5rem 0 !important;
}

aside .update-content {
  font-size: .8em;
  max-height: 450px;
  overflow-y: auto;
}

@media screen and (max-width: 991px) {
  aside .update-content hr,
  aside .update-content strong:not(:first-of-type),
  aside .update-content ul:not(:first-of-type) {
    display: none;
  }
}