@import 'bechno.css';

.garden-pot {
  height: 218px;
}

.garden-pot p {
  font-size: .8em;
  text-align: center;
  margin: 0;
}

.garden-pot img {
  width: 60%;
  animation: becDefault 2s steps(2) infinite;
}

.garden-pot img:hover {
  animation: becSpin .8s linear infinite normal
}

@keyframes becDefault {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(-20deg)
  }
}

@keyframes becSpin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}